* {
    margin: 0 0;

    color: #60606e;
}
ul {
    padding: 0px;
}
img {
    width: 100%;
    height: auto;
}
header {
    overflow: hidden;
}
header p {
    margin: 2em 2em;
}
h2 span {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #48ac8ba4 50%);
}
h2 span:after {
    content: attr(data-content);
    position: absolute;
    /*color: #000;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(253, 255, 255, 0.08);
}

.img_sm {
    display: none;
}
.grid {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr) 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 0.5fr;
    min-height: 100vh;
    max-height: 100vh;
}
.grid2 {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr 1fr;
}
.grid2 > div {
    text-align: center;
}
.card1 {
    /*padding-left: 3em;*/
    grid-column: 2/5;
    grid-row: 1/2;
}
.card2 {
    /*padding-left: 3em;*/
    grid-column: 5/8;
    grid-row: 1/2;
}
.card3 {
    /*padding-left: 3em;*/
    grid-column: 2/5;
    grid-row: 2/3;
}
.card4 {
    /*padding-left: 3em;*/
    grid-column: 5/8;
    grid-row: 2/3;
}

.card1 p,
.card2 p,
.card3 p,
.card4 p,
.card4 i {
    text-align: left;
}
.card1 h3,
.card2 h3,
.card3 h3,
.card4 h3 {
    text-align: left;
    padding-bottom: 1em;
}
.card5 {
    padding-left: 3em;
    grid-column: 8/13;
    grid-row: 1/3;
}

.white-color {
    background-color: white;
    grid-column: 1/10;
    grid-row: 8/9;
    z-index: -9;
}
.img {
    background-image: url(../img/site-hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    grid-column: 1/10;
    grid-row: 1/9;
    z-index: -10;
}
.smallImg {
    grid-column: 2/4;
    grid-row: 5/11;
    z-index: -9;
}
.smallImg img {
    height: 100%;
}
.container {
    max-width: 1200px; /*=1200px*/
    /*Выравниваем по центру*/
    margin: 0 auto;
    position: relative;
}
.title h2 {
    padding-bottom: 1em;
}
.title {
    display: block;
    text-align: center;
    /*background-color: rebeccapurple;*/
    padding-top: 5em;
    padding-bottom: 5em;
}
.title > div {
    margin: 0 auto;
    max-width: 750px; /*=1200px*/
}
.button_header {
    justify-content: center;
    grid-column: 8/9;
    grid-row: 8/10;
    height: 75%;
    align-items: center;
    margin: 0;
    background: #418b73;
    border: none;
    display: inline-block;
}
.header_bold_text:before {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    content: "WE`RE";
    size: 1.5em;
    background: #48ac8bd8;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    padding-left: 0.9em;
    padding-right: 0.9em;
}
.header_bold_text:after {
    display: block;
    text-align: center;
    content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit.";
    margin-top: 1em;
}
.header_bold_text {
    size: 0.3em;
    grid-row: 2/4;
    grid-column: 3/7;
    text-align: center;
    /*margin-top: 10em;*/
    /*max-width: 33em;*/
    margin: 0.5em;
    /*padding: 6px;*/
    display: block;
    font-family: Montserrat, monospace;
    /*margin-top: 6em;*/
    /*margin-bottom: 4.7em;*/
}
.header_bold_text h1 {
    font-weight: bold;
    border: 8px solid #60606e;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    display: block;
    size: 3em;
}
.index-header {
    text-align: center;
    width: 100%;
    height: 80vh; /*высота занимает 100% высоты экрана */
    background-image: url(../img/site-hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 7em;
}
.textRight {
    grid-column: 5/9;
    grid-row: 5/9;
    /*padding-left: 5em;*/
    text-align: left;
    /*position: relative;*/
}
.textRight h2 {
    margin: 0.5em 1.5em;
}
.relTiv {
    position: absolute;
    bottom: -80px;
    left: 25%;
    /*left: 10vw;*/
}
.grid__nav {
    grid-row: 1/2;
    grid-column: 2/9;
}

.gor_menu {
    display: grid;
    list-style-type: none;
    align-items: center;

    grid-template-columns: repeat(auto-fit, minmax(100px, 20%));
}
.gor_menu li {
    padding: 15px 0;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
input {
    color: white;
}
/* !Кнопка для гамбургера */
.menu-icon {
    grid-row: 1/2;
    grid-column: 9/10;
    z-index: 19;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 80px;
}

.menu-icon-line {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: rgb(6, 90, 86);
}

.menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: rgb(6, 90, 86);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: rgb(6, 90, 86);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
    background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    background-color: rgb(41, 39, 39);
}

.menu-icon.menu-icon-active .menu-icon-line::after {
    background-color: rgb(41, 39, 39);
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* ----------------- Мобильная навигация ----------------- */

.mobile-nav {
    z-index: 8;
    display: block;
    position: absolute;
    right: -38%;
    top: 0;
    height: 100%;
    width: 27%;
    padding: 37px;
    margin-left: 50px;
    background-color: rgba(11, 92, 65, 0.966);
    transition: transform 0.5s ease-in;
}

.mobile-nav--active {
    transform: translateX(-100%);
}

.mobile-nav__title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    padding-bottom: 5px;
    color: rgb(41, 39, 39);
}

.mobile-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin-bottom: 30px;
}

.mobile-nav__link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
}

.mobile-nav__link:hover {
    color: rgb(41, 39, 39);
}

/* !MEDIA */

@media (min-width: 300px) and (max-width: 1280px) {
    .mobile-nav {
        right: -140%;
        width: 115%;
        background-color: rgb(14, 90, 65);
    }

    .header_bold_text {
        grid-row: 3/6;
        grid-column: 2/9;
    }

    .smallImg,
    .textRight,
    .button_header {
        display: none;
    }

    .img {
        grid-row: 1/12;
    }

    .menu-icon-line::after,
    .menu-icon-line::before,
    .menu-icon-line {
        width: 25px;
    }

    .menu-icon {
        margin-right: 25px;
    }
}

@media (max-width: 684px) {
    .header_bold_text h1 {
        padding-left: 0.1em;
        padding-right: 0.1em;
        border: 5px solid #60606e;
        margin: 0em 1em;
    }

    .card5 {
        display: none;
    }
    .card1,
    .card3 {
        margin-bottom: 2em;
        margin-left: 1em;
        grid-column: 1/7;
    }

    .card2,
    .card4 {
        margin-bottom: 2em;
        margin-left: 1em;
        grid-column: 7/14;
    }

    .title {
        padding-bottom: 3em;
    }
    .img_sm {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 3em;
        display: block;
    }
    .header_bold_text {
        size: 0.7em;
        display: inline;
        grid-column: 1/10;
        margin: 0 auto;
    }
    .header_bold_text::after {
        margin: 1em 1.3em;
    }
}

@media (max-width: 1250px) {
    .mobile-nav__title,
    .mobile-nav__link {
        /* margin-left: 35%; */
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        font-size: 22px;
    }
    .mobile-nav {
        position: absolute;
    }

    .mobile-nav__title {
        font-size: 3em;
    }

    .mobile-nav__link {
        font-size: 2em;
    }

    .vertical_center {
        margin-top: 30%;
    }
}

@media (max-width: 650px) {
    .mobile-nav__title {
        font-size: 2em;
    }

    .mobile-nav__link {
        font-size: 1em;
    }
}
